
@font-face {
  font-family: 'Archer';
  src: url('Archer.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Archer';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADn8AA4AAAAAWAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAA2HAAAACUA
AABOeK4ztGNtYXAAADOcAAABVwAAApqzAsEuY3Z0IAAANbgAAABiAAAAYhdXD6NmcGdtAAAC1AAA
AFgAAABkp9lek2dseWYAAAOYAAAvHAAARrZ/jaL8aGRteAAANkQAAAIaAAAEyPh9sFpoZWFkAAAB
RAAAADIAAAA2seTFQ2hoZWEAAAF4AAAAHgAAACQF8QI+aG10eAAANPQAAADCAAABJIFTA2dsb2Nh
AAAytAAAAOUAAAEoAArO6G1heHAAAAGYAAAAIAAAACAAxgGQbmFtZQAAAbgAAAEcAAACItHYEo9w
b3N0AAA4YAAAAZsAAAI+s22lOHByZXAAAAMsAAAAbAAAALMYnpUveNpjYGRgYADiXnut1Hh+m68M
DMwvgCIMK9gOCsDo/8v+izPLMmsDucwMTCDVABpyCfUAAHjaY2BkYGDW/i8OJM3/L/u/jFmWASiC
AjwBeR0FNAAAAAEAAABJAIYABgAAAAAAAgAIAEAACgAAAGMAxwABAAF42pWPsWrDMBRFrxzHpRDy
A+2guZTYiUNpsnnKFAiZsiqJEhscK0jO4L1TP6Bbv6DQz+hXdeilFqUlpVDBk857unr3CUAfrxBo
1y2jZYEID54DXODJcwdXePEcUvPuuYtr0fccIRJrKkV4yWzFri0L9PDoOaDvs+cO7vDmOURPBJ67
uBc3niPW85mutFW13sp1I+e6Vgdjj7lxhZMLa3baucJUqpSjQTLEDBoVw0Kh5rmFxBoN9zmzmtUD
DG+PyHk6FAyJBSsGOyrcZ82wh0LJmxEGSDDM7CbXFhl1G75k/6Xen0plsWSyx4liBZuVtWvczyGn
X29L+jvO4v6cZvrd5dz3V4txnCbxJP2HxxgxUv4sxgTpucsH17lk9Hjac2BlZWFmYtApc1XYwKzq
qpyYIaGckeCiqwPnQ7gKCjv+H7AQ2ujAaGYB4m1wsBDawGgGEtTVYdzgVqbgDtTplpihEAHSqGyx
gUkVpCDVIlIXABb4G2F42nPgk5GRlublZWJiYODnd2Xs3cH4v7XMNcNFYjMjrxuD9mZmBhDJwg8i
WZlAJBuYZAeTHGBZTjDJBSa5weI8YJIPTAqASUGwaUJgUhgsIgJmi4JJMbD54mBSAkxKgsWlQCTQ
NcgIAOjcJmF42uW8eZSkaVkn+i7fvu9fRLxv7PuSEZkRGRm5RGZGZdZelbXvVdkLXd1Ad0N3I3Qj
DSogihcVkV1RpsXrIIow2nOZVsZhsBHG64EZz9h3rmcQjtPgePWodwaX4+mMmvf7IiIrq5lz7n/3
nHtuZVZW1JcRle/3LL/n93ueJwog0AUA/TXOAQxEsD4iIkeBwFPIcwQjUSAQIMi+p0Nw9OnOIAE2
h5tD2BnuDaPfwNobss+F+d+UAN/s2Xm7yn530Re7e5/GuVe+zR7tHQYIRL9+mf0MD5TBfaM5Cagh
UH0aFGloUUnANEsD3SMp1SGgWCCB7xLggt1Qh6npT316MwE7e9HPtKKvYDM6wHDPYh/QdlbYJztE
JcU3BwYsNmC1ILZhdanXDXrdgRu6/t2/LlX7GfhRyTYlU9QEuSVJqpASbIk7LD3upUVelx0lCJCR
+2seQaiWLY7T4V+N9t77MHbTJoS6vy3kgRDdEvwS+kdQBG2wCR4DPwjeA746euihtTyz1VomE5Ye
f+ap7StHw2ee2XYU01ScXrdbqj97KbFDT5tcmz5DTz9VoiFH6RV6tEfnOyKlfumpNz/7AHn9s+Sd
byPvfueNaw7ZbpdIfZ3snF7JS7tHdXj6oEWYCTrMEnvDyB3MMnvWS0PrJRBbyoovRA9eYh97my9F
hrKGd7+AieHix7Ad/2JG/LHTfBP6FaFYqFQN6FMYesx4/cWl/mI1A8PIoIsV9ogXKtVKf3GwAUPc
C9KQGTh62kDwvQCyFzI/sH+BXe1Hr4pf1x2wFyyxV/QXO5BdzUDfE6qegYqL8TcyUAzj1/SX2Ivg
b5jLvJ+WmRtwI6/jlMElaNYIyeLW+C/tQMaOqim6gGunHKSp8Bj0lUuqZ2Qb5sJxzbjYwZjXOSkp
wPtUQuxM67AG4dy7pIQlI4Q9+nbs5USOg0YGXalDQXf1vKQGqm0KrZJ907QMccWRjNaRjHvjCa5g
m3bJV2U8/rag28JmQ+4nM4GoDR8d/4TiEISchHaxl5+7KHqujhVeStp+4lS911xyd9qKyfcfeDFX
cVXzsGMXLaVcOkdcMdQ8CfmAiyIJmSw7kmAB3AJvBL8zuu+hY8vrui1fOzu62r11NgyxXsb6COtv
fOCx8tlb8iOnj9MnVukTy/SJ03Rbkalpy2fp6OrlC3SUKNzSCU6R+i557AHy2HXS9wjOkPot0g3B
7rYOj92bUtMPa/LxUpRZLMc240ybXYw+4H60zCJoGj+gDSeR88QxFjmxT5nzmzDOuCjhJvEiCoUo
NLIsNsQocjZQrxsKgesJIguFSrEwjbhigb1wEAdMFBG9VTjohoMqCxqRRZUXhNFT4lBbGsBfVHUk
JVJdM2NotiurntSs1Y6+hyOaj9YxVtpzbcNM8FUNCV/zHesyr5n6qplt6v1hxjxyU+Zym8QtHirK
6aTkyIYobISplzHnhIKle05I3Az6EllNixaHkF6yOYiV3pVA6p7EvmluCO+udL2rVx+5mfBxgVfH
32k/0C59SMGCl8756uUet+zyvuewuBMfX3v34fcZxMzNmQIvmo3k4HQCRMgIvw0+x3wfgCw4Psoa
QoqGpqeFXipkoJgiXpZ4GvFMgIx9LNyEE3cBlttTr0SugLETcgwDXWbKaoWZLLLaYnWQQV6UaFMI
HLzd8EQlDPw0FtNYsCtC55rh88jmPQ7+hYxSKSS4xbfUXV8wi6Eutn/2najB6awMAHTnzp3nwMfA
zzAkz4CtEZFJOuGnEwmfJGjaJI5PiMnt4hQkrwoyBknwbsjA6KRZwjdjZxYrxUo1WIoOO0EEFiHs
rJVe9y3YEEWBZbqtZ7Bm0kThJMKSYgrQtm5ghDwPSW7tZl2vp8Jnf9JOSDipmYAdFJpwAP83llHt
ke07HOY0U7BMKoTaruzGp2IHigFwEr3ReVJaHL5pOIvFDbgGGepFIMfQqIeQbftvtDqHnORO7gER
YqsN3yTl5TpWs02M9CRvKqosLkc//84d8HH2EbCKmpRVIfCxH1iaSgXHYtWNE7AO5f16CjuTSnrA
QOw4oTwpZoVKMXLcGuwOlvoxTIYfUkNLC1WuxYlO0lM5KMhLPIegULMwLxu+YsncCpjUXfgJFl0Z
VqGujmpELjU0mY40ys/3ACyQ1X6V9Gpk0HMI9AkkYJe/e7CJ66xJKZmWETAFifYk2EbsjBAz/I5y
luVqdwLukdGq8ZVwltsiFiblYFJI4mewW+l12fmUwf1LJ3dqHDnTSVZJY07gZa0RzB1J/LoocKpm
B5wgKbqvabKAMYKkpuXR4+PN3sXy0mIilxFE51x7/nfbR86tJecVaa7GCaGBdWtc4jSNrJTDB5KJ
hO1mq3ZrRQKRd9ivzzOrOODEKCfrEtQlCciqTgWJlW6ZANsiwLHBASdFnCcGRIaPw1d7ymVWIDC6
v2JBnGEe7v06ZyeUHlT5FclxZNkToIH+eG+JuWudZziCvgEYr4o89C/ZWULQYz760dHmcLBU8JXE
Al1cX9tAxioy8rmCtL5B19bpmp6nlRxlPyhF6ULCYYXHICibI626D3ZXdTi8hxtExCA+cmdGljbj
v99F8v10nBX/0ZA5NPA9loERhiyxkFvsM09NALwYedJE1QmPGkyKdgQprpCGnlAsV8uDAH5CPvva
dLFiemfPXsQw3ehc+VUsawJDavTYsilbopFQoKi4ybD4x1DVxh/pwYfFRfTJVvO+T78+kxF2d9/0
Rl135bUrVD2RRVDSfgavQk7UU3ohZdrh3rO8Yjuq2JdOpePqCeFnmAUb4CS4Am6DN42WHrhxptWs
uetba0HvyPlLa27Qos2AmsM1urk136YnCgRRojAAWuqR80dqwNShexdcY8NNQWs4pZxx9O/7fWqw
yGIPuxOLCSIrTexPMU7ZiN7MsqFSnXyNE0L0mQ2LcSGLn9vcp6X9xQ32EjcTY19U9IIod4RJzkQA
9HE+V8ya+YXCA2v93aRNz86v3OfJcq5WSHHY8P3uhec5TVFkGUGxoC63RJ1PCI4tZYIKZWkjPanI
rlJobiFOtxOuoTP8Qh/OJRbOZcyEunbm9slmfXWh11pZ7BbW88uX0/T8ojufLFYs47RqYzVvmxWs
CQi2OaRYxWZm/POCKwi0Bu1/5rd1JMhmNWHbqD5hNPDLzCcKY/FtMADvGW23Hbsf5EuZOa88r3Yq
tJSixHSobfGYg+USzSzM13GNet3ugko6eUJAqiKJuEwAlEAuo8POAbwc7oXDKfcdgvhvDD474TAO
8AMlEbRn3GS5EyFVpRhFNWY2Zv4SmrA/iNK2KIgxW+3ADTjo9SOoXdqEIT8I/bgQwNuIV1zZk6BX
/piZU8PM66Cq+5ZpyXbDM8Qhn1JbWiLheAIejje4L+hDuzSP/mR8P4QK/CZu//oDTy5x/t+N7+OQ
9F5eYGUFwo+IgjoaJWS0IoRTi30iVkg9sAN2wUdHx0cLRRsvLqjAExa31/3tdfXM9fUz129evXrm
+uXKzfUivU8UqKFXaGZAj6Ntun6xudhO+M12m/jnzpDrrEbrsHiANAw7Uy4XY8LmBNaHE4K3Lw7u
wsLEgJP6GNnwviKzoRfHOotgE27CHovsIRy4k4tTYhYXgrt1IA7oYiH+JqsASzF0RDEfRpASEboJ
W4lj/O2IE7/Ai/C4pvwW5vAun2slD1eWOoVVjV5ZKNC5Na7QW77/M0pSVzxXk/TEGlZWsOlwbtLL
CUi4CSVd4ZuGwKtKEv2ZkJE0W/QvSv6XRN4ylUAaX0s8qG8/nPN9XxuVisWoePi3uSP3p7Xrq7Iq
t8QjCJumb7iumvqIq9i+iCrJpKXwHpj66ZdwFvigDk6Dh8AHRsdOdu18hkiKcBizgJWq2fy15S69
3ae3czS7TOdEqghUVWSSNM4dKu3mJYIPbRhEwFcu53CW5F0wp8PuATeFMejEfhnGsBPVnImas/4n
AD7zEfPQ7e4+AxdjyhBzb2bsqA4zvClUTFaSJ7jNUHsi0WKf7MMVc2fstIk4i1KFAZYJfWGfdLN/
Dr7RD9DTK6bv2I5crMmqId7kGKiHogfPyoliWHhX+mihuU0qGvakYLNqzdnNJXbIwW1d4Juf0iQc
CKpqS7qjeraihM0s+nb6eEW0eTzksLh4McDCeSbEBSzBxI9nk7fl1qoh7x3TzES6uABJwuOQc27e
q/sPnnO500vlfu7E4/CabRsc532Ol5xBMbOaS8840M+zzNJBCtwc1WSJCw3bhIxPI14gQNeBRxMm
NWyaMCBBGkBQh+FBcgamYvrH28aLxivGi/dy7sjuJOSbZZGx2IG7tA4jimbus0hmaCgor03TG5+E
kN98XtFd57CSn9fE3McLhUxWQB/lWVza0rYy5MRkXkQzXvAL7NQtcAo8CH5otLZzuuGpnbm5k1vh
ya37F0cXvfD+1dN0J6TW9dGFwcXFk2SrWikSlCZSjvCri2TUALuWDr176Ny0sg1jKBgOY0bHLsyK
237W7yf9a7xZfZsqOzwjewwsD5S3dTipb5VqQZyWNwax0+o1pQm+5/oxhYAzKsj+hSjt36PlCu0c
p105mrMrWztq8qGN1glLEoqNcgi5XnHx5i9pGs9JQiTAEhrT4a4tGw2DyV7d5pCXVVjhk4SSWsqh
X2/M9S5nvZ1VbxcOrpqcf2Rrfo4f1Oqd3NJVkjyzYhVsubhuixtMIHJGzla7umibWJXtOZohblrl
Ghw3/gMNiupvSrrby6T6vmLwnM/yn/H6STSVwBa4yPL/iVHv6nmqgQfPH66tb9fWH+ysLm5fNzV6
e5ueYoIjWTtWI/evB6TQ7ZBVCnYFHZ7/Po9EKDzxxF0w/n5X3D7Poowxs/3OSpS0+16Y8O1Z1kag
OvXDAeIdaW48iKFgenUQvybcf04UrR8SN9qJVrJ+JJ2kmFxYyAx7asQquG6lf8MTRfFFmUeCkVQl
AcmSGiqqJIphoFVwDUPFcVrnqaXB1H0e5D1RUpOCrmOd/tbiTU+SwhStJ8tlY44u/OT29jtHteOW
cLg398hy9+vwO7yvYNFZJOYhK3JHIxleUs1QGP+yYmpGUsH1cjLQ6/SnuS2FM7Fe9CwznHYXP4fm
gcm88sxojZehHZYKIGUhBPgiLRVoCVEZUlFGXkhLOm+TUjGnEpBLE41LEQg0PsoU/l72PCEVUZdz
c284ReAJuzjY/WB+KfNMck87jKy6bUJGBHE1YnNRrVufacjQ/8yjblHRHF8hOg7C1BObvC0LVIjQ
iN+Cf3oJmwWLg8ZVx06OtQ2O8Sxb5iQ+KRry1mMxKtx5E/hjFLI7rYAOeHa0CtjNAk3TYWOuqpdS
6VIKlToh5NNoesdWZ45W9QbPE9ghpRQp6YLrvxU2JrfK7nTSTOhMOz+T27y31wMOtHxi4T7fYPdr
HujvsMDDU9rLYpF9MgOEMQJUhUpsiN4f4CcMN685gap5ErabruAyD0utZM6wfI/Rxs5b7FDmTMmy
4ZcvYNlvcZDnL6q9veeYHWAfy8HKM5tCRJodef4T78ANFsJTnPwUy8c0WAUnwIdGJzJl2THXjg43
toZEPGq6Ti3fLNC8cpQOR1t06DpUM2t0bl5eJ6JLnA1nTSzkSTNB0BH2fDIUCVgf6rB5D9u0JqBp
vcSAMmq8MDNNmFPUKdv7Pj01bSswU51sTtAzTsVw0ppmdutt4EkLtFgRxPCuyJ8Kqw0caSqxOLVv
HFDwk1y5eEwwSpKZMXwinOcV5YcK1d61F80igkpoqy3FDzhekRxZdUTRSrM4p2fwU8uqGaiWI+Ig
SKKPeuHixuJTi36CR9Ajhjxwv3p80Ksbp/ikc0vgOY9pM8gJ5YaO9L0fObvGvCBfd5zErCZFujkP
huAWeG504cbZwVnfv3zq5OVTWd1fPXW6s36B7vKCIKq31umxRHiZnjox18AnaYmOaIHcurqIu6fI
aU0S2Y/CouoTnRKiZ8Hu6VNMg52dGX04hUZm9zDCx3DaxH4pjBslUcN7M25q74cqONjIZobfPTtp
5vAek6az3sOUEuEJKw3EqC8hRB3u+PuTNI2J0V2ELIjMD204y+ZY8w7ghxi+4SBrlmRlTtRCzzQk
loFzZ94n846TxBgyk6cEJCXLraKIBVWUBEMweCjedhsaZ6hiSrRVXkT/evntO75jappTsuXxX4gY
qk1XxCI6levU+KUVR1KMYt6re+w7juyccWsLqjv+OmOUKY1lhTb+z4pVdzmBU1s/pq2uxAhxB36a
+agLjoEHwPtG2/NLYdq2+4eupi+l7z80ukEfTFEvTe2dU/3dQ0t9cqhK+AsrG+RQkajSXIOgSxdH
eI3c2jo0D3Y9+wAVmg0cIo9Mxg0xi9ibctQJPHaG+81icDcNHgzvJRFTsVDZt2w408oxgjAjL01c
FI0VYpHA/FHsd+NeQ+ycSFIwVlopxCyrAyNS+n49ka6m4IkuWak4pxyvLtjZINFLDU4nJEU1upUU
K2Hl7oXP+H5KFHl8RipKQSZp8qxeaBLHYxGKJUmWuWS2jX6L/Ys7OXJ13au4C9dCWUR2xecQgqSe
PVqormbmg9OLBjVqxxPyIO0XVA5DL7SWONP8FhLHX8qbisRzHFQ+BmX8t+osfz7OfJMCc+AIeO2o
sxLkMgZWW+vrpdo2X1pfpUfX6eK2VXQz1ZpK2jhDasUSqSXAog5XDgq5/YbcvuUZNN0tTe1pf+7o
ykQPCFNbMwNOOm+xKIgaDOK0OdeBbiR+u+7UNW1UHUzpRdSFh+80lCCbpALfFrRVW+TgYk1QG+vv
V2SsaVYSomLC5zBN6IVvJlupYw09u3LF4IJzneUbaYywO4e+WN5dFzml4ghB1svLxb4Dl0qar3OG
NU5jrwb/D8eTx62zD5ZSCayc66JStX6i1F/i+xMWD+Fnme0IWIg6mUlNzVZtnnYNKtlUgqjeyJJG
qUwaPkEBQUmwK+lQfXUncyZ2wf60Y6acuiqzVMiqmDhh7f0pFm9Cd9r8CsS4vxdhSdWd6lf4nCab
w07w5mxn0/UD935u7WzK5nrllSu/gETE52RLRGEQmJzHBEbSDNAnjo5P9XYMJ9sUMUcbHfhS9biv
HJ4TE4KkjxcYJmRFhlf+LF4ejeOlAZbBO0ejxW57rtmoJAKODpYqYpqu5OjKMm3qnTadK1EiUqdR
pESgrlMwNZGSYloiRUdLAdDS4dyBXuZwWr1eitsnE7tEf2xO7cLSeNbjmthnZS7K4KjBZaLIAhOo
jPR/BIiMDURmq24yrhPVfpev9vPT7/VCmEkmU+JviJ7vOTzCvybwEG4+x8l10VXEn1NtO5HUxy+f
gJIkQCgfwTlK8hnLFn8W4+IbJLdki7bOiho/7oifFJW/FjMNySZk/Bi/ZXCuEigKdzyOEAQfZ9ay
QBO8fbSetUzBYKrAqdctga/laatEWzZ1atSpMvtYVARUEnki+h6pVhARa3ViOwZI6DD76lZgbCyw
3wffH4sNZ22T4WyG0MpG05cIr4qDXtyuZ7TPhEXRng469qt8395kmflvRO4KfJ6DcMeFvyjqhUDX
TEHoiWqo+qr7aejV0Y8ldHS4/qeazaiTsHP2v15Uxl+BEAnzAQ9luIrOSp1prHwyjpUd8GSE+298
7NqZY4fXcK/TTyjHlzPHR7uvE67Rp3bpxQ5dft1DTvGhR3pKsUeOd8nxDDleJMc3SuR4q1ElxxPg
og6vHcSbCdW5Ow6MIoeFzgTyX7qnCsMDUfPUtRh/JiO7yj6/WZwqj6gaTPTgrCEaz/uy8MDwWYjk
Ztxk2oCTnoU4bUUsZdB+izXukMaVJYDv0nmsJ5iop0Qy5BBZDsy2FA12znxUMWTNCgVOVBhlsi2N
KlhCRkVnOM0ribzKoDpjFVJ/xB/vVRoPbBkpKcwcmpu/YLPIxJ2CiNDz6d0Gi+F8npFzY+NKgLAs
LVM9oWHV/FVsmkKKlzB7wnE0j53NMGRkPNOkaqDBt1tJLO59d3DL0w87NQ/liNObSx0vBq2gkLcO
LRgXPMmeevLXmCdNUGYa832jw6PlmnioMle0842KIBkCrqzSbUK31+l2hm5vVWhjrkIEy04SWyUC
IMJ8xyBbAmO1tlQEXleHywdXN/b2u0sTX8aBfcC597LZWWBvL7PAnghPPDN1GU+COq6+k6EH+xaO
/BhvYLjCq3gtHnxOCDU1ZJV2riBCIBgpxzB0YUsy5QAZHg85L/ucpKJACwTopxNJgV+SmOxPibot
QQaoHKuyMBTtjbnwgpr8wt4yQhge4ZCsod/hjPz4t91kQoPG+AWR4/sWk1USPClOZj4I/AtmVRcM
RynD1AWZAo6YGjF14limwZ6iQ+4g6Z8k+mwux0zgcXxzcPB23EHoMkz77BvwCsdrkh2Nn2XuBETc
kgMhVtG/xUf2TpuSMO1C3YeLgDIsvzAqKwyaK0VToU2T8hTkSCWRJCDNkCjhE5AEvA6Vexq3Md2K
K9ZdL03JVVOJ2gI4rtkZfDcl8FIWYo8JMUGMlFmkIW5KSxtFPzffyYtMv/dzQcGrphAD3q3nWUKY
YQZDP7Tf2zjm8HppOY/ctCuI3tG+PtDhX/H8znjopdSAyIr1nJTwZjUqmr5kQR0cB0+NFlfnKnIV
AkLTaXp0uwLLBj3hFQDkxNG6SkRC4FKhT6rroUPENBgoOly9ZxAaB2dnf+tg0hYZDl8azrpvdwe2
J1YZuswYZSjG81p295VJ47nDICOikHG7mj1yp22OiDe6Ykw8B5MhZDxsgR9987mBiF93QjKNiM9z
fK6zIfy03vguXEgLqJFfVBXMyUJKFjgBPlpIc7m6zQJW1BJ6ooi+8w/pH7o/9x4/Q+Bplv4iKWUe
ljcvUzcLA26xJWql+5dhp1wY/6ZWDCAH3fF/wJm8haA6/2SlsEygOOtVPsasKYMSODcq5bKmpgTU
hUkuWaCukqQupa4usNQhoggcHQb3kMJIwlv7HGcfi6MWRRCNKOMaHZlCmPbnyvv8ewOuw8VeN/ws
I0AS0XBQfgkiUR3/l0SOCzbTpeMlRdQ4Cf3J3r/nHPQ6Lbf3EK9EnQmbE8OcHWl05JhOAgM+3mf5
X9ldSIytFcEGuAE+MjpxathIVnNJkMsmBCGXpblswzSdiqaYLXrz3E7H5Ry6XdG3/S1/00+YRPGJ
Uq6QrkdUhZJeNycC7Yg+a1zMUnQ/LyYqZDKejRo3MwEyG2nMePF+8NxssOCZLBoMAj6MI2KpO+gN
cBtGyrzMzFONuAyTYwd2x9y43xZZzIBRLw6/GuPcqMcWwGeQr2iLae4IvKbAR72azjTbnMBLgzQ+
d2ysNDDnGNrAho/6TV4yxYxo6AzKsoGcUDyCYQuWuAHGfjZJxFSR52TJVWyHAWCm4gQZ9H8rCZV2
REW42Nx7PWc3PAR9dCu6ojR8oy7ewIr6gfTe57Fd83lOd+H3wqaOOMs1darlnb3Pilyy6EKm7ZEc
tkwLTJXjbzCv8cxnPfDm0coCB0E1DFuVhVI1SRd1utgBFLaoVdGFdpWUOm1SLukEaIQhaYapbIah
5bt6kTkonI4thndH51Nv3eMeEPljkUlEt8/sKoTx9Fl0o2gtHpDtsWVDd1Jtwm4fR/to9+lED54u
BTzGnLUiK4wM8n1O903blpHUKPONfwffcEJytFAL4I1D6+jFW6FSPqTpTpaSvb9hulruORxT3Haq
KdO9W+isgKCFHhyUlP4sI3+OWSUH+uDaqJZxutVOte47dMmnhozzpEOIkCJYqFRJe66TAbuGDp1X
regNZ6xxht5xSZlItCVnf2Qz7ZnvL1NswE2II9UWRBcnKxRtlqdu3DQP4TOOgfiFo82lI6ebAjnf
zi93LYMTF/KtUz/CySmPRxGpUZDQTAUlCX01d2nJO21mf0Df/eGC3V3JFYtGK30E/lFhaHZuQd4e
52G2mfPhe8MExp47vftPxbP1DfD4qFvttpuy5Wuqr8kMwOmmT7VeKmyuk1AloaaQcEGbJ2GR4BrQ
NR1aB5H9AIsczlQrPLhFFicns8imNbNIpETFUJylVzhtvywN9psFEYmMZZkv4jgts/Er4U8pWqac
vbgmYv6215B0W/YUU+K4re1TCUmpdGU0f/6n+JTkSjtYDRw9yfKCR59rXamvP1DIusodxa56EoJC
5v3cQhVjdTg4X9i6P82J4vr9nPqvMXR5xJIuZOwlstOdv4T/HBOm0k6zGjjoU82s2JtZSnfqtJYo
Us+MFlwr1O6st9YXVla63ZqA5fUh2dqu14i8BGwP0lfV++F0+rdfBTfjjziK7k6eduiBnbtJLZw0
roQDM4LBdBG2WpjUxmoUVbHphJikReI/Qq1QCOB7FBkhS0o6CHpBulcqzqtJvXOWS51tp3OaaY8s
w4AkdDiez4ZcdfRBBk9Qln3PRVwqYSQrIhTQr43efyr3rpxX8+R62sqaouNYHDZPt8oVSa4rF21L
31A0Cf7zsB1I5tq67IxL2C7Cl8xAcEK83y35jbiTdRS8Bvzy6Nz5Y/OqhPjV65XV63rKOp9IpKyd
lHXm9Pn7rt8cGkwIbx6+fJHgFPVdSy9mdnI7K3OtemJneYls7pwm11fJ9WsbeHMe7J551RAmnAJT
1OEdDl+aDV2H01HsJhM78FWd8Fdvzjx0/lUtrvDgIvJBYnJgXha3YKLWVqxpBnEBibZpooh2xbsN
djf62utmEPxJL0kraVGUfVP1FV1wC7bu27YtcUKuVQ6htJBrX/hF0UAD0U5EWl1j/MQO60JBdAR4
O5G3NdeRNZuBiSblJdenEvqXS+vzl/Lpq2uZ15v1gsDUqFkJGSYm8sGNcPVsInVm1crbcnHLWq+q
CZ2TPsJx34GMNo6fgZIx/rpolCnHmBBcYoTboxMGEHe6QqbFB+AyeAT88Gj91qH+Gf4MVnXTv+/w
IfraJE0cpmuENpzEIxVfJbiTTJDKKXLxynXyUIYUsoSZwQe7azo89CpAtSZbz9NW8HSf4e74bOKs
/an4aw/d7YJVX72VOhWg0Z5yBC7THRx/Mg5jVCmWOBGzniw1DKY7DWE83fBm+wttFK+jvlfg/KyZ
E33CqZarMD0wNz9/8YO6aPs87xUFZJX1OU4RJZU3f9t519cyZ9uWZS6dt1OX+8lcuqf7SbK0pAmJ
70LVlkwpHxiMV32KbJRZoXKpxTFVsXJfKB4rJ6BsvlnKMDJYVDIVffwxIxsmsfGOy2tXxp/JpbF+
tlMq8HKNrB9ZuJyp9yvV5tKl51Rb8NKyqihlYuWsWX37EvNUtMX+1tFKPluPNwENW1UFA9J8hTYb
Ccemqo4oaZLGHKn7BDlEgELdEIiRjxtt9Xsbbd+0vrkw8Ua8Q7W/qw/vGZFM6l+nHjXeRE9A+13K
iMcvOv1Zy32pP1k3j4fpPWZ3+Dv8j2Jse0ZPEgeCXsMlXrU1ZYk3JKbQ/er4G4aSPMSJPyCib1/C
P/qF8d+vi6LUNzH6KfjVBoc4qOiJBFd8UjiFVT+Rmtnho8wOFCyCN402qwLtV2m/Qfuq4mq6bhim
aVl2erFDFjki98giUzgkEUWB69hMP+qaqthyj4KCDqsHGm3hcH9rA3T20XzzpekwMbJAv8qYjzdR
Jx24bkTYACcwfmCbZsBCsx/+XJR2StKyITw635o/vDhXWRFT5xcSmfoWE8cn0J/s/IfffQBbmVNb
K71WNZ9JBvF8wS468t6numfKGc+N1gR4db16/s/+7NyJ6N6vMub38Zive2Bh5NoCdlwie57sUBOD
XVPTJ91/cGAFYpJZPmZHL0bJwdBu0h6IlyDC57gmueSKQvAjKvHlqlwuPfW2LViAYFz+m9TqE+Mv
izyq1jj0h1sTpEeR7Q0mfI+AN4x6Wx2S2g67GEPNxd0OPVqiR/u0qndXaHbDlFTNtMKAWAASTQPZ
+r27YXszSJiM1PdbmsNJqw7clQBHO+z0eJa9fZb2PJ7sgWH2kMXXZJ8pmjAcrKZLg6jxtMFeY1WK
rIp+CkqykPZ0JDh1aGAmi1KeBsMGVEbXBv2WbKvGuu156X6FFqT0qXp1lBSLgyXLWTwBmf5IM031
NUFzF/P6kg6/JDX9va8hFKbQWa2a3/tPlRPzoW0uiEGQmE/nqzSLshQ5K5lvQP8dYiE1Y+6fiFVj
xNzfPdpMtGv1ds1s13wzsQDEKhBVheTy+dx8M005Qv02remltKImiJkmJhOTOaKKYLfqO3dzeTaE
6+zDaqwuw+Gr1mDuyemIyNejcBb84mQhAWdQeGDWs4bYH248LxZnTD5qhH4hLeI2V57/6g2Hblha
1dFTeqKgyY5Z1tT10huN7C/DrHl1XfUUX7Wkvu2gb/hXsPKBkp/lx8/1Ln9tnudgosBoxsq/eiN8
Ehf23sc9FuItlZG4f5E8FMX5jemOncjU9dVRBRS8lINML6TlFHUc4vIZScsQjRJLM3mw6zp3VwKG
dytPZInO3j30ddqIifcABDG+74GBRArDqLbvzw6j+u+wgPl3ppEs+e3M3zvlpgbF1x3lDFWgsiZz
1cuWmUDX+ouHfvK2uahe/+hvrhe2C/b64klO4LhS65HPwuRpHE7Z0RviraYQlMHNUT0NAsNN5FKi
EYpcLk0r5RJNuTQ08jma0g0SqGA3qcP0PUg9eRvVrGcwvGdDP7qjSjre746JzAYaTPcmYyCGcfOA
uS9aeOjBN3xGTKrMOe7xY6bV+C0PmpaX6WB4hRt/U1yU2/d1tFpJlFms/xHHwZvfenlXbgT6Mi96
C9reD5zkpHkfQXySScg54MB/hL8PXPC+0XHgEttxbFkhEoNwdhsc03mmgTGitsUUp67xmKOqwuiM
TlRMoEIsU2MEkgg8wtBBu5L51tkc6Ol9sjdTpiB6EA4nX3+8zb/4youz6I7+Fv0ZNf6i2VDPL4o9
Py9WB8V+j/3OD0L4Czc/fOJPx3/+dPPkzY+c+BZMPt2C50bHR0+3TsZfo9zsgzehD8KXgQYSYAG8
brSgl5OgnCwDPck+aZmj1KKFgFKFFlySFUkzqzcBIHqNEUca7s8iJq3baWW19mYDrL3O3r0D8GiU
lZ2MauKd4ni8F2MYYyoRdsW5yAJx0vSJl7Li/Uv4w2Gx2Fg8NOyWD99IbTV7W2ud2ubZ/E5n68aF
UedYJruzsHnr/KhdKUFzLhkeHSxvHyftztHB0pFNvLHx+rMXX7t2aGPj0TMXX5vJsmxrARf+E/wK
s4EJHhx1ZUmI3URjlzH/AYFpdsBpKvOTbEoi5oihK1g2GeUBJqtvB2489o/1zcnvBTBd9g0jicRu
2IJ8s5zv56vMR36xz/zT78F/Gnfh17/yla8cZp/u4e8dftvbDr+NnarJouuf4B+wUyngkVGTHYCF
lixLPEcEURR4KgQKlUUqRSfkCJOAmEXtLjvRDATYD44PEK/TR9Hywpf/+q/+oxqHTBQ6L3z5ZRep
L04SSJ0ercz75X7ZZ6dagN8Yfxpei07nHP7yY0c/cOgDR7//XAiKElFkWRFEwuo6L1A+kKjMUSU6
l0gUlgfg/+lc684951qn33+uPt+fg31+eq4Fdq5Pw284h3/pA0cfe/zoB1g2nrjTYYj9b8E8Y0Ur
nXaj5DpJSUjSBYsu5OjCHG3pGqY08ESByNI8IHOWSew8mWu25jsSFlHV3u/ZbYbD2TsW9zerhvsF
eg/eo6cWGnxz4E0WqHr27EEYR2ulPx0oiV4wvcAKP+z3foWWVk7fcl0v9GGnudAPd1YbWarBUeCF
HtPr6NbHj83/0rPvGv+ruUa9bsj6YOPKlesXU6RLD/2c4QWF0ur1h+//O+aPjTv/HT6PngUq88yp
UTGp5eSg7lIKaJ1hdVEmOUwqJslZJEflogcr97w3qzNJ0btvt4jrQ6vCEnOWiCw1Wf71B4uzPdEo
JWPpuJ+fECwebtb7h5tDjsfZnDNKWC5ar+8cSbxz9/ClR4+3VuDuWx9e2Xj7zdXtDYPa1y9fOGra
6cbjr9n41P/5yJULz7aiyUfpTg19GP1Xhj+Pjxo6c5Prea4kEsd1HY0mZYnaLOw9jeiIRGM47Nj2
fgdr+mbfuN5NujcRLr5QfvEPL6mv8CyyXmg480M1Cq9GYn5JfTHu5SWjnlbICn4TyjFh6plQKOZl
mO+GAXrUbOUeffOPwrXxp3/nbQ/n5hhBuDbOwPeMfwL+4SHbRu9+5+vPjM+Pn968/C7xIfi7CJl6
dB+ZOzWcZvfhgidGQ5ehfLR1CKhs6AzqeUgxS2LMCa7DigOwLUNVNF0jomAaBAKWLo7NwMWGaHpn
4cH3MU8GmtF60XTFKGohhxG2eIhvhjaDe79oM/jvR+9xjv58+hq6c+3a+B8vjV9/afyPn8dP1mqv
/Eythp+MvrLT2nf+HhnwP4FlpnwPLbYzqkJX0nQFUpCn5vIA0PlKOcA+nbcEatZJAyLGuZFHMApI
WSGamiFp2lsUk+bdztDMGcPp23rjdsUkzuJdxf0hHpi10lai7pAJ44hjOqp3IFniRyyjom+xOIzK
RDFSv9n4zQ+e0ITwQxDbAdXt5OLSMuPE3Z32SrGYcJ1GUg0qTSH0+lce+VghC8NOz4BvSXykdqmR
zq7y506fe/uZ10H0f/386opLkvf98BWSKnQaGBsG7HcAvPMrd07Bx9HfMbY6N3IzaV9jhZuWBAoS
1AGS47AsAjN9NIODks/uZFqsWMbYohdNvGaFrGszeYQhKc2lwnTGWMGy29xpFtvJRDpjriDJbZ1C
f8e0Dx2N/+A1m2/66ddslDNBcgPCw5eGT77/kY0ovqL3wX8dfQrUwTOjDZboYcCChvJ1ksKA8jot
WCSrkDJLoJrnEoIZLock8Mu1LKnXmBgsKNHmLX93fSCc7A4O46LduTurGO4X8EmUWXvs/hqsaJe7
kYvy/bg/NKnYYRRyXrAG+/EC76Rciz46P18Lx3+7c/Pp17zm6etnx38bVrrPPv2uFz784Rd+5K03
KvOff9589saj73jHozfeZj3/+fnKmv/eR37wZz/41tvvDdfYvd75b3f+Cl3ATVZrXjtqCAwMMMdh
SSYIQiRRFbK0kgmTVwqQEMGKDDDyoPB9U2RrCgvTAuP/m9/7hjqrNn/xe7/3SlRtomIjMN8VYREz
8kRgD11YGf9p7hPr2v/yjld20Suv/C38XFCdH/8K+lWGuya4jQL4ZqZEG+DSqJ7PBb6qQKBQVWW5
49MgyNMcR22RGmGNpso0nVN3QfDWCbmL3vjOsqFzdyi0d3AdoQlYTZn1FZYGk7eoR29Nqcab0dOL
KL4omAunS62fpnR7oXGkkvuZFu2x4KoPS40PULLVc9qL+fz7q8WN2ztZMp8pn6GkE5DbO0bgd9Ll
HS3hdkikOXz25SL6Z+yRAE6MCGTmFAQMEOF4plcAxTwRBJ6Vc31m2MikMcj++T+snZuA7IsvJMpr
R6LH7CbEaAydxzAPe7fgW34bDve+DL1gDv7vY4n9HAhW4BfBC7gEsuDQKJVEUlZNSGrCJWomQXig
ZsGubsHkqycUzJXwwNu5ozcSJ2erLCznJl2uWAJHaxiDuKO5Cb+AONMvQCN62zyqYazxgTIQDM0W
RPQtThELiu1W3iuLCOGKAZnafV5U7vv/3LueIRgym37x/yWb/vb/L2yKGa9qMcb7a0wZWSANtkcZ
QMUEtQ2dWqZr6dg0FA8TotiamIDGPStZ1jejzwUw+08K2GEzRoSfwXRtN2rGRoLg4AXI1LFtJhL5
4l5Edv989rdfzCUTll0MEvnW4V8ohOxxnl2OchffCeFf4mr8P6N8ZrSAQUzFo9k7x4kIM4nJCwjG
ugFRAVCO1QTIvgl2heRboXiP6NybtgwYY3r5u7/PqS++8PILv0/UV154+b/9PohA8wWSii+TY/Fl
Ykwvv/zdlVfiZ698J3726uzZ8WVyLL5MjOhy9N+wiFFLi0DsqvAfvsh+fe9730OfHz81fgP8IBL2
/mnv75HC7mxw52/Qt7DH2G0bLI8SrTrVmPZBsKgCxaEdpjZ44JteBElgMsE9uA8YdW0jYlGNzOyH
MVeYQmncs8T9CZeNZxbRoDzayvoYvHUUPrzAwc3lG0vJM354wc/k9eLGyrMPWNWR7VzJDC4XFxaG
6IKorj+ia87o4fGbf3A3l/OV4uVPHH3sx6VUoVrPnu0uXQP/Ay7SMRp42lXOuysFABTH8Q9yXSLk
kbc88+rK+3rd6/0HSDKZZDDKYDIYTJJJ8gfIYL6jZJBJBqPBZDAYZJYTk1PfOv36nd/58Ttb/8lL
U3BI4QGJVPBM0VrwQvKT4tBLbikNreyI8vBUvFJ5RlXs1XfUXFN7Q10f9Y807tB0SfMFLQ+03tN2
SvsbHdt0Zug6pnuVniS9LfQ10b/EwDmp+DX4zVCC4fwg+o3En9F3xnKMR9bEJumN4IPJ6DUVGdO1
QXSbuWJ2ncwu2cjPfjF3wnzczD/9sbDHYmcQ/Zb2WW4IwreS+wG01C+TAAAAeNqtkrlOQkEUhj+8
iKAgsspygcvIvqosCqjsyBNYWFnoa1gbY3wGEytLC3trn8bOEs81xESIjfH8me3M/JPzzz/AChbM
8KOZM4suzcY8KaOGeeZnyKZmhVVsa+bS7lhnw+nadG95vD5/ICipbULhSFSPxRNGUu2k0plsLl8o
lsqV6u4e/x77UKs3mhwcttqdIzj+yp7Q7cnQnx8aDEfjyelvV0yXU1bLtfSHGFgJkSRFlgodupzz
wDMvfGiP2pP2aoSNmFpRNuVWERVXRTVVF+oq/fbObCY3GMLMUGJXmP0FZsjQl5iX38y/hEUqbguO
6HEmuFnALXdLuBeIpaJTLGUNOw7EUpy42MTNFh68+OSPBAia3hImQhSdGHESojCJYkd0pkVplhx5
ChRFc1lerCrK90R5nQMmtMSdDiPGDBhKrT2p9YSa1NsVHxs0OWXqt30CrR89bwB42mNWYDBiAALG
LxDMcBhI32VgYNIDso8B8Zb//xmDgfR2oPgeIH0eSF8E4hNA/BgixngUSu8H4f//GU4C1f2Hij8A
4itQ9beAuB+IZ0D5QHGGh0C6GWrmJKC9Z6F6DkHVnEPS/wxKH2UIZzoONf8EQxTIPCZVBl2mkwym
QFoHiLXB2IHBk/Edgx1QXIXZnEEOKCbIKPR/GTMDgxGT6v9PQD4/UwqDKNjfVxkswf69zWADCgOQ
fqBeZmYxBnMAAu46BgAAAyAAAAHGAugAlAIwAhcB3gL2AnsCoQF0AbAAAAHgABIBvP8r/0sBD//w
/3IAZAByACz/F/+hAFIARAABAG4AiACvAMUA+AEVAIQAqQBWAGgARwCcALUANQB7AMcAhwAZAEMA
AHjaY2AAAlYgxASMDHiBY05JMZBS+MDArP1fnAFIMrwEADjEBQsAAAB42l3TaRLbIAwFYI1BaAMv
Sbocqvc/T5/ATmeqH85DY38RXojoJKI/JkLMW+VtK1vd6l3bN9Wt1Nq+q0zcGFWb8CaMxYbiKuSq
aXFbVp7DE+B5fp3/U4Wfkjwhl41FuejXYqUwo9amBWl7LvnP0q+lOZA2FKu1giQtrcZG3T2tJstq
a/602soNiQ1prS1nw40RaeZSMrWCLWFJI5xESpPcYSvtrrJSCst6CulrhVQXUSkoaU57j7RES+HS
0JJl4c6uLIVx3ky5dgTFTVYV71pD1aalEnT0Tqq3BfOuUucPgJy5xdMXpKYQQASsjqDL6nSOkZba
Y+ljISgoqWmtrk5LDA/MTGNY7WYOqxbTQde+k9m08FSq3lVWwuWaan/6iiQGAUTfjQeC1dt6HWlV
83pbNi+pnMEea6wujiNv1HCUjcN5dw/Ld9htp/d5kHu1WFbObtOyuQ/F/4jpbk8hqUMAsZ/Oh3v3
ZR30Oc+0PGqVivkwchYsv62ccF9dX1bsEdF9P4OPDGmFn/Tjuiiiel9Wzu7Tym24mjvjFTjQXYVB
rOPh9+7H1dvZ+8AYXLtf9PP1+mc5hJiX1DaDpQX8XF0cz7QggDhfvV0Z8hPucdGv94t6rzHw0cGK
22JYyLCC8QqkFfFYAy/SgPUe7TXG3vPDHfGi3583LF5WMLYfWdxmSAGWX6uL44XmuEYS12cIrCMt
Hv1NfwF+VCRnAAB42m2QV3PbQAyE9UkiJVpyqtN7771XpzjFaU5vb2cRpG7meKTuSEV2fnwiMZOH
zAQvwAI7iwUazUYdv342Fhr/i+U/iSYt2gSEdOgSMUePPvNsYCOb2MwWtrLANrazg53sYjd72Ms+
9nOAgxziMEc4yjGOc4KTnOI0ZzjLOc5zgYtc4jJXuMo1rnODm9ziNne4yz3us8gDHvKIxyzxhKc8
C3yhBhLKZGBUFsa5McpFKivEeWXj3qjKS/HapkaCQZ5lKhyuFUOx4ZSg87i9Li5v5VZa5Y88KIdO
pJ3klWsneiwtryeBl7HYQHQ6LNtW25mKyW3kJdN11R1V4kud239t8ZxlXvCSV7zmDSu85R3v+cBH
PvGZL3zlG9+7dupuVCnT1TbRVpdrUWEqn2lb+ciI9/WwnzpRpbgaNLOqVyhXamVinSSRr6ZHzfZ3
CpfH1aBsFnqqVkrqlAlWMklVx6lYD5TpqWLKmdQywZKYUnXsav2+fv2meNUYScr5v8DNjo5qNOvP
1VXdDGM91rF0TL4uNpVgKmzkN8KhkpIA) format('woff'), url('Archer.ttf')  format('truetype'), url('Archer.svg#Archer') format('svg');
  font-weight: normal;
  font-style: normal;
}


