<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>

		Name: <%= @email.name %>
		<br/>

		Email Address: <%= @email.onlinemail %>
		<br/>

		Title: <%= @email.title %>
		<br/>

		Title: <%= @email.message %>
		<br/>

	</body>
</html>
