<div class="backinsta">
<div class="instarender">
	<iframe src="http://snapwidget.com/in/?u=bGEuZ3Vlc3RsaXN0fGlufDEyNXwzfDN8fG5vfDV8ZmFkZU91dHxvblN0YXJ0fHllcw==&v=9714" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:390px; height:390px"></iframe>
</div>
</div>

<!-- shows album events -->
<%= render template: "albums/index" %>

<!-- shows calendar -->
<%= render template: "events/index" %>

<!-- shows mailer -->
<%= render template: 'emails/_form', :controller => 'emails',
      :action => 'create' %> 