<div class="backinsta">
<div class="instarender">
	<!-- SnapWidget -->
<iframe src="http://snapwidget.com/in/?u=bGFndWVzdGxpc3N0fGlufDEyNXwzfDN8fG5vfDV8bm9uZXxvblN0YXJ0fHllc3xubw==&ve=020914" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:390px; height:390px"></iframe>
</div>
</div>

<!-- shows album events -->
<%= render template: "albums/index" %>

<!-- shows calendar -->
<%= render template: "events/index" %>

<!-- shows mailer -->
<%= render template: 'email_mailer/_form', :controller => 'emails',
      :action => 'create' %> 