<div class="backing">
		<div id="container">

<div id="restlist">
	<div id="restlistbox">
		<h1>Calendar</h1>
			<table class="table table-hover" class="table">
				<tr>
					<th>NAME</th>
					<th>DATE</th>
					<th>TIME</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			<% @events.each do |e| %>
				<tr>			
					<td class="rows"><%= link_to e.name, e,'data-no-turbolink' => true %></td>
					<td class="rows"><%= e.date.to_formatted_s(:long_ordinal) %></td>
					<td class="rows"><a href="<%= e.location %>">location</a></td>
					<td class="rows"><a href="<%= e.website %>">website</a></td>
					
				</tr>	
			<%end %>
			</table>





	</div>

</div>
</div>
	
    </div>