<div class="albumback"
<div class="album">
<h1 class="albumhead">Photos</h1>

<table class="albumslider">
 


<% @albums.each do |album| %>
  <tr>
    <td><%= link_to album.name, album_path(album) %></td>
  <% album.pictures.each do |p| %>
  <td><%= image_tag p.avatar.url(:original) %></td>



  <% end %>
    
  </tr>
<% end %>


</table>

</div>
</div>

<br />



