<div class="albumback"
<div class="album">
<h1 class="albumhead">Beautiful People</h1>

<table class="albumslider">
  <tr>
    <th>Name</th>
    <th>Picture Title</th>
    <th>Pictures</th>
  </tr>


<% @albums.each do |album| %>
  <tr>
    <td><%= link_to album.name, album_path(album) %></td>
  <% album.pictures.each do |p| %>
  <td><%= image_tag p.avatar.url(:original) %></td>

  <% end %>
    
  </tr>
<% end %>
</table>
</div>
</div>

<br />



