<div class="albumshow">


<p>
  <b>Name:</b>
  	<%=h @album.name %><br /></p>
<ul class="example-orbit-content" data-orbit>
  	<% @album.pictures.each do |picture| %>
  <li data-orbit-slide="headline-1">
  	<div>
  		<%= image_tag picture.avatar.url(:medium) %>
    </div>
  </li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
</div>