<div class="albumshowback">
<div class="albumshow">


<p class="showtitle">

  	<%=h @album.name %><br /></p>
<ul class="example-orbit-content" data-orbit>
  	<% @album.pictures.each do |picture| %>
  <li data-orbit-slide="headline-1">
  	<div>
  		<%= image_tag picture.avatar.url(:original) %>
    </div>
  </li>
  <% end %>
</ul>


<div class"backbutton"><%= link_to 'Back', albums_path %></div>
</div>
</div>