<table class="pictitle">

  <thead>
    <tr>
      <th>Photo</th>
      <th>Caption</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  
  <tbody>
    <% @pictures.each do |p| %>
      <tr>
        <td><%= image_tag p.avatar.url(:medium) %></td>


        <td><%= link_to 'Delete',p, method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
  

</table>