// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.albumshow {
    font-size: 15;
	float: right;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 300px;
	position: inline-block;
	margin-right: 90px;
	margin-top: 40px;
	overflow: auto;
	font-family: bondini;
	background-color: red;
	z-index: 1;

	
}

h1.albumhead {
	font-family: bondini;
	border: 1px solid white;
	color: #fff;
	margin-top: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.albumback {
	z-index: -3;
	background-image: url("palmtree.jpg");
	background-width:100%;
	background-height:auto;
	background-size: cover;
	background-position: center center;
	width: 700px;
	height: 700px;
	float: right;
	text-align: center;
	margin: 0 auto;
	position: inline-block;
}

table.albumslider {
	float: right;
    margin-top: 55px;
    background-color: orange;
	opacity: .9;
	width: 500px;
	height: 400px;
	margin-right: 100px;
	position: block;
	
}

div.orbit-container {
	width: 700px;
	height: 500px;
}
