/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
    font-family: 'archer';
    src: url('/assets/archer.eot');
    src: url('/assets/archer.eot?iefix') format('eot'),
         url('/assets/archer.woff') format('woff'),
         url('/assets/archer.ttf') format('truetype'),
         url('/assets/archer.svg#webfont') format('svg');
}



div.socialnav {
	float: right;
}
#socialfb {
	background-image: url("facebooklogo.png");
	display: inline-block;
	width: 29px;
	height: 30px;
	background-size: contain;
	-webkit-transition: opacity 0.5s;
	background-repeat: no-repeat;

}

#socialinsta {
	background-image: url("instagram13.png");
	background-size: contain;
	display: inline-block;
	width: 29px;
	height: 30px;
	-webkit-transition: opacity 0.5s;
	background-repeat: no-repeat;


}

#socialtwitt {
	background-image: url("twitter4.png");
	background-size: contain;
	display: inline-block;
	width: 29px;
	height: 30px;
	-webkit-transition: opacity 0.5s;
	background-repeat: no-repeat;

}

#socialsound {
	background-image: url("itsmy3.png");
	background-size: contain;
	display: inline-block;
	width: 29px;
	height: 30px;
	-webkit-transition: opacity 0.5s;
	background-repeat: no-repeat;

}

div.contain-to-grid.sticky {
	background-color: #21B3ED;
	
}

nav.top-bar {
	background-color: #21B3ED;
	vertical-align: bottom;
}

nav#menu.nav {
	display: inline-block;
	float: left;
	 list-style: none;
	 background-color: #21B3ED;
}

ul {
	float: left;
}

li { 
    float: left;
    padding-right: 15px;
}

.nav ul {
    max-width: 1240px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.5em;
    font-weight: 300;
}
 

 
.nav a {
    display: block;
    color: rgba(249, 249, 249, .9);
    text-decoration: none;
    transition: color .5s, background .5s, height .5s;
}
 
.nav i{
    /* Make the font smoother for Chrome */
    transform: translate3d(0, 0, 0);
}
 
/* Remove the blue Webkit background when element is tapped */
 
a, button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1.header {
	font-family: "archer";
	font-size: 150px;
	margin-left: 30px;
	width: 700px;
	height: 160px;
	margin-top: 5px;
	}















