// Place all the styles related to the Emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.email-form {
	float: center;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 55px;
	position: inline-block;
	positon: fixed;
	margin-right: 90px;
	font-family: bondini;
	width: 700px;
	z-index: 1;
	margin-top: 100px;
}

div.email-form {
	margin-top: 100px;
	background-color: white;
}

input#email_message.form-control {
	height: 100px;
}

input.btn {
	background-color: #21B3ED;
	float: center;
}

div.footer {
	height: 100px;
	background-color: black;
}


