// Place all the styles related to the Emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.email-form {
	float: center;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 300px;
	position: inline-block;
	positon: fixed;
	margin-right: 90px;

	overflow: auto;
	font-family: bondini;

	width: 500px;
	z-index: 1;
	background-color: orange;
	opacity: .9;
	padding-top: 200px;

}

