// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#restlistbox {
	float: left;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 300px;
	position: inline-block;
	positon: fixed;
	margin-top: 65px;
	font-family: bondini;
	background-color: f88379;
	width: 100%;

}

#restlistbox h1 {
	font-family: bondini
}

.table {
	float: left;
	text-align: center;
	margin: 0 auto;
	position: inline-block;
	margin-right: 90px;
	margin-top: 40px;
	font-family: bondini;
	background-color: #fff7ef;
	
}

div.backing {
	float: center;
	text-align: center;
	margin: 0 auto;
	position: inline-block;
	positon: fixed;
	margin-top: 40px;
	font-family: bondini;
	background-width:100%;
	background-height:auto;
	background-size: cover;
	background-position: center center;
	width: 100%;
	border-radius:25px;
	background-color: #fff7ef;

}

div#restlistbox {
	height: 50px;
}
