
div.backinsta {
	float: center;
	text-align: center;
	margin: 0 auto;
	position: inline-block;
	positon: fixed;
	margin-top: 40px;
	font-family: bondini;
	background-width:100%;
	background-height:auto;
	background-size: cover;
	background-position: center center;
	width: 100%;
}

div.instarender {
	float: right;
	margin: 0 auto;
	position: inline-block;
	position: static;
	margin-right: 30px;
	margin-top: 15px;


}
