.picture {
font-size: 30px;
	float: center;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 300px;
	position: inline-block;
	positon: fixed;
	margin-right: 90px;
	margin-top: 65px;
	overflow: auto;
	font-family: bondini;
	background-color: red;
	width: 500px;
}

form#new_picture {
    font-size: 15;
	float: right;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 300px;
	position: inline-block;
	margin-right: 90px;
	margin-top: 40px;
	overflow: auto;
	font-family: bondini;
	background-color: red;
	
}

.uploads {
    font-size: 30px;
	float: right;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 300px;
	position: inline-block;
	positon: fixed;
	margin-right: 90px;
	margin-top: 65px;
	overflow: auto;
	font-family: bondini;
	background-color: red;
	width: 500px;
	
}
.pictitle {
    font-size: 30px;
	float: right;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 300px;
	position: inline-block;
	positon: fixed;
	margin-right: 90px;
	margin-top: 65px;
	overflow: auto;
	font-family: bondini;
	background-color: red;
	width: 500px;
	z-index: 1;
	
}